.answer_button {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.selected_answer {
    background: #3b3b3b;
    border: 1px solid #000000;
    color: #efeded;
}

.right_answer {
    background: #adff96;
    border: 1px solid #213600;
}

.wrong_answer {
    background: #f6b0b0;
    border: 1px solid #4b0101;
}

